main{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Primeira seccao de cards */
#FirstCardSmallSection{
    width: 100vw;
}

.SmallFirstText{
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    padding:15px 20px;
    color: #858585;

}
#FirstCardSmallSection p:nth-child(1){
    margin-top: 40px;
}

#FirstCardSmallSection h1{
    color: #2571b7;
    font-size: 22px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}


#CardGrupSmall{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

#CardGrupSmall div{
  width:90%;
}

.cards{
    background-color: red;
    margin:10px 10px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.cards img{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;

    width: 60px;
    height: 60px;
}
.cards span{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.cards aside{
    grid-column-start: 2;
    grid-column-end:5;

    grid-row-start:1;
    grid-row-end:2;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: start;
}

.cards h2{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
    text-align:start;

}

.TextCardSmall{
    font-size:13px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 20px;
    color:#FFFFFF;
    text-align: start;
}

.cards:nth-child(1){
    background-color: #0072c6;
}
.cards:nth-child(2){
    background-color:#2c5898;
}
.cards:nth-child(3){
    background-color: #207245;
}
.cards:nth-child(4){
    background-color: #cb4a32;
}
.cards:nth-child(5){
    background-color: #733781;
}
.cards:nth-child(6){
    background-color: #00aff0;
}

.FirstCardsSmall{
    
}

#FirstCardGreatSection{
  padding-top:5%;  
}

#FirstCardGreatSection h1{
    text-align: center;
    color:#2571b7;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 30px;
}

.SecondSectionText{
    text-align: center;
    font-size: 18px;
    padding:0px 60px;
    color:#7e7e7e;
}

.DiferentColorInText{
    color:orangered;
}

#CardGreat{
    padding-top: 6%;

    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;

}

.GreatFirstCard{
    width:45%;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;

    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.GreatFirstCard span{
    grid-column-start:1;
    grid-column-end:2;

    grid-row-start:1;
    grid-row-end:3;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.GreatFirstCard img{
   
}

.GreatFirstCard h2{
    grid-column-start:2;
    grid-column-end:6;

    grid-row-start:1;
    grid-row-end:2;

    color:#FFFFFF;

    margin-top: 30px;
    font-size: 18px;
}

.GreatFirstCard p {
    grid-column-start:2;
    grid-column-end:6;

    grid-row-start:2;
    grid-row-end:3;

    color:#FFFFFF;
    margin-bottom: 20px;

    padding:0px 0px 20px 0px;
    font-size: 15px;
}

.GreatFirstCard:nth-child(1){
    background-color: #0072c6;
}
.GreatFirstCard:nth-child(2){   
    background-color: #2c5898;
}
.GreatFirstCard:nth-child(3){
    background-color: #207245;
}
.GreatFirstCard:nth-child(4){
    background-color:#cb4a32;
}
.GreatFirstCard:nth-child(5){
    background-color: #733781;
}
.GreatFirstCard:nth-child(6){
    background-color: #00aff0;
}
.GreatFirstCard:nth-child(7){
    background-color: #094ab2;
}
.GreatFirstCard:nth-child(8){
    background-color: #0073c6;
}
.GreatFirstCard:nth-child(9){
    background-color: #0093be;
}
.GreatFirstCard:nth-child(10){
    background-color: #5558af;
}

/* Aplicando estilização aos segundos cards. */

#SecondCard{
    padding-top: 5%;
}

#SecondCard h1{
    text-align:center;
    font-weight: bolder;
    font-size: 28px;
    color:#2571b7;
}

#SecondCardsGruop{
    
}

.cardsecond{
    margin:20px 10px;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cardsecond h2{
    grid-column-start: 1;
    grid-column-end:4;

    grid-row-start:1;
    grid-row-end:2;

    padding-top: 30px;
}

/* Aplicando estilização nos cards de forma individual pelo ID */
#FirstSecondCard{
    border-bottom: 4px solid #dedede;
}
#FirstSecondCard h2{
    color:#7fba00;
}

#FirstSecondCard img{
    background-color:#7fba00;
    border-radius: 100px;
    padding:10px;
}

#FirstSecondCard button{
    border: 2px solid #7fba00;
    padding:7px;
    background-color:#FFFFFF;
    color:#7fba00;
}

#SecondSecondCard{
    border-bottom: 4px solid #dedede;
}
#SecondSecondCard h2{
    color:#00a4ef;
}
#SecondSecondCard img{
    background-color:#00a4ef;
    border-radius: 100px;
    padding:12px;
}
#SecondSecondCard button {
    border: 2px solid #00a4ef;
    padding:7px;
    background-color:#FFFFFF;
    color:#00a4ef;
}

#ThirtySecondCard h2{
    color:#ffb900;
}
#ThirtySecondCard img{
    background-color: #ffb900;
    border-radius: 100px;
    padding:2px;
}
#ThirtySecondCard button{
    border: 2px solid #ffb900;
    padding:7px;
    background-color: #FFFFFF;
    color:#ffb900;
}

.cardsecond span{
    grid-column-start: 1;
    grid-column-end:4;

    grid-row-start:2;
    grid-row-end:3;

    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
}

.cardsecond span p{
    color:#737373;
    font-size:14px;
    margin-right: 20px;
}

.cardsecond span img{
    width: 70px;
    height: 70px;
    padding-right: 10px;
}

.cardsecond aside{
    grid-column-start:1;
    grid-column-end:3;

    grid-row-start:3;
    grid-row-end:4;
}

/* Estilizando a segunda parte dos cards mas para o maior breakpoint */
    #SecondCardGreatSection{
        width: 100vw;
        display:flex;
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content:space-around;
        align-items: center;

        padding-bottom: 5%;
    }

    .SecondCardsGreat{
        margin:10px 6%;
    }
    
    .SecondCardsGreat img{
        border:1px solid transparent;
        border-radius: 100px;

    }

    .SecondCardsGreat{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
    }

    /* Estilização individual */

    #FirstCardGreat img{
        background-color:#7fba00;
        padding:20px;
        
    }

    #FirstCardGreat h1{
        padding-top: 20px;
        color:#7fba00;
        padding-bottom: 12px;
        border-bottom:3px solid #dedede;
    }

    #FirstCardGreat p{
        padding: 10px 0px;
        text-align: center;
        color:#666666;
        font-size: 14px;
    }

    #FirstCardGreat button{
        margin-top:10px;
        padding:10px 20px;

        background-color:#FFFFFF;
        border:2px solid #7fba00;
        color:#7fba00;
    }


    #SecondCardGreat img{
        background-color:#00a4ef;
        padding:20px;
    }

    #SecondCardGreat h1{
        padding-top: 20px;
        color:#00a4ef;
        padding-bottom: 12px;
        border-bottom:3px solid #dedede;
    }

    #SecondCardGreat p{
        padding: 10px 0px;
        text-align: center;
        color:#666666;
        font-size: 14px;
    }
    
    #SecondCardGreat button{
        margin-top:10px;
        padding:10px 20px;

        background-color:#FFFFFF;
        border:2px solid #00a4ef;
        color:#00a4ef;
    }


    #ThityCardGreat img{
        background-color:#ffb900;
        padding:20px;
    }

    #ThityCardGreat h1{
        padding-top: 20px;
        color:#ffb900;
        padding-bottom: 12px;
        border-bottom:3px solid #dedede;
    }

    #ThityCardGreat p{
        padding: 10px 0px;
        text-align: center;
        color:#666666;
        font-size: 14px;
    }

    #ThityCardGreat button{
        margin-top:10px;
        padding:10px 20px;

        background-color:#FFFFFF;
        border:2px solid #ffb900;
        color:#ffb900;
    }

/* Parte dos quadros */
#squares{
   padding-bottom: 15%;
}

#Titlesquare{
    color:#00a4ef;
    text-align:center;
    padding-bottom: 40px;
}

#squaregroup{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.squarescard{
    border:3px solid #dedede;
    margin:0 15px;
    padding:40px 30px;
}

.squarescard h1{
    color:#f25022;
    text-align:center;
}

.squarescard p{
    color:#979797;
    text-align:center;
}

/* Parte da imagem com o texto em cima */
#ImageSection{
    width:100vw;
    height: 40vh;

    padding-top: 15%;
    padding-bottom:15%;

    background-image: url('../images/Toghter.png');
    filter:brightness(49%) ;
    background-position: center;
    background-size: cover;
}

#ImageSection h1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    padding-top: 40px;

    color:#FFFFFF;
    font-weight: bolder;
}

#FormSection{
    padding-top: 15%;
}

#FormSection h1{
    padding-bottom: 10%;
    color: #737373;
    text-align:center;
}

#FormGroup{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    height: 90vh;
    background-color: #e6e6e6;

    margin:0px 20px;
}

#FormGroup span{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:100%;
}

#FormGroup span label{
    color:#737373;
    font-size: 11px;
    align-self: start;
    padding-left: 8px;
}
#FormGroup input{
    width:95%;
    border:1px solid transparent;
    padding:10px 4px;
}

#FormGroup span input:focus{
    border:3px solid #00a4ef;
}
#FormSection button{
    color:#FFFFFF;
    background-color: #00a4ef;
    padding:15px 30vw;
    border: none;

}

/* Medias queries para a responsividade */

@media(min-width:500px){
    #FirstCardSmallSection{
        display:none;
    }   

    #SecondCardsGruop{
        display:none;
    }


    #squaregroup{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
    }
    .squarescard{
        width:22%;
        padding:50px;
        margin: 0px;
    }
    
}   


@media(max-width:500px){
    #CardGreat{
        display:none; 
    }

    #SecondCardGreatSection{
        display:none;
    }
}