/* Seletores GERAIS */

/* Estilização da navbar responsiva */
#Header{
    width:100vw;
    height:100vh;

    background-image: url("../images/Header.png");
    background-position: center;
    background-repeat: no-repeat;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#NavSmallhidden{
    background: #2571b7;

    grid-column-start:1;
    grid-column-end:3;

    grid-row-start: 1;
    grid-row-end:2;

    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;

    padding:10px;
}

#MainHeader{
    grid-column-start:1;
    grid-column-end:3;

    grid-row-start: 2;
    grid-row-end:8;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ButtonHeader{
    grid-column-start:1;
    grid-column-end:3;

    grid-row-start: 6;
    grid-row-end:9;

    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

#LogoHeader{
    grid-column-start:1;
    grid-column-end:3;

    grid-row-start: 9;
    grid-row-end:11;

    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom:10px;

}

#Menu{
    height: 100vh;
    width:100vw;
    background-color:#2571b7;
    display:none;

}

#ButtonNavbar{
    border:none;
    padding:10px 15px; 
    color:white;
    font-size: 14px;
    font-weight: bolder;
    line-height: bolder;
    background-color: #002050;
}

#MenuHiddenHeader{
    padding-top:3%;
    padding-left: 3%;

    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
}

#MenuHidden{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    list-style: none;
    padding-top:20%; 
}

#CloseIcon{
    width: 30px;
    height: 30px;
}

#CloseButtonMenu{
    background:none;
    border:none;
}

#CloseButtonMenu:hover{
    border:2px solid #FFFFFF;
    padding:2px 4px;
    transition: 0.5s;
}

#MenuButton{
    background:none;
    border:none;
}

#MenuButton:hover{
    border:2px solid #FFFFFF;
    padding:2px 4px;
    transition: 0.5s;
}

#IconMenu{
    width: 30px;
    height: 30px;
}


.ItemsMenu{
    padding-bottom: 32%; 
    color:#FFFFFF;
    font-size: 24px;
    text-decoration: none; 
    font-weight: bolder;
}

.ItemsMenu>a:hover{
    border:3px solid #FFFFFF;
    padding:10px 14px;
    transition:0.3s;
}

#MainTitle{
    font-size:40px;
    color: #FFFFFF;
    font-weight: bolder;

    padding-bottom: 20px;
}

#MainSubTitle{
    font-size:30px;
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
}

#ButtonHeader>button{
    font-size: 16px;
    font-weight: bolder;
    color:#FFFFFF;

    padding:15px 30px;
    background-color: #2571b7;
    border: none;
}
/* Estilização da navbar para o maior breakpoint */

#NavGreat{
    background-color: #2571b7;
    width:100vw;
}

#NavGreatItems{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

#NavGreat img{
    width: 150px;
    padding-top: 15px;
    padding-left: 20px;
}

#NavGreat ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content:center;
}

#NavGreat a{
    text-decoration: none;
    color:#FFFFFF;
    font: bolder;
    padding:0px 10px;
    margin-top: 10px;
}

#NavGreat button{
    background-color: #002050;
    border:none;
    color:#FFFFFF;
    padding:10px 20px;
    margin-right: 20px;
    margin-top: 10px;
}










@media(min-width:501px){
    #NavGreat{
        display: block;
    }        

    #NavSmallhidden{
        display:none;
    }
}

@media(max-width:500px){
    #NavGreat{
        display:none;
        color:red;
    }
}